# Logging configuration settings
# "See https://loguru.readthedocs.io/en/stable/api/logger.html"
logging:
  # Path and naming convention for logs (including timestamp)
  log_file: "stdout"
  # Format of the log messages
  format: "<green>{time:YYYY-MM-DD at HH:mm:ss}</green> <level>{level: <8} {message}</level>"
  # TRUE for detailed backtrace logging for debugging
  backtrace: true
  # extra diagnostic information
  diagnose: true
  # Log level; ["TRACE", "DEBUG", "INFO", "SUCCESS", "WARNING", "ERROR", "CRITICAL"]
  level: "INFO"


# Paths to data files and resources
data:
  # Path to the census data files
  census_path: "your own path/Desktop/DataFiles/AppStaging/census/2021 Census GCP All Geographies for AUS/SA1/AUS"
  # Path folder containing the GNAF (Geocoded National Address File) data
  gnaf_path: "your own path to the GNAF data directory/Desktop/DataFiles/AppStaging/Standard/"
  # File of GNAF data already joined with the shapefile
  # Recommended to use as converting GNAF to GeoDataFrames is time-consuming
  gnaf_cache_file: "your own path to the gnaf_cache.parquet file/Desktop/DataFiles/FilesOut/gnaf_cache.parquet"
  # Path to the shapefile containing region codes and polygon of the area
  shapefile_path: "your own path to the shapefile directory/Desktop/DataFiles/FilesIn/SA1_2021_AUST_SHP_GDA2020/SA1_2021_AUST_GDA2020.shp"
  # Path of the output CSV
  output_path: "your own path to the output CSV directory/Desktop/DataFiles/FilesOut/"
  # Coordinate Reference System (CRS) for spatial data
  # use CRS 7844 - specified in the ABS 2021 datapack
  # 'EPSG:7844' is a CRS in the European Petroleum Survey Group system
  # for defining geospatial coordinates
  # SEE ALSO WGS84 (EPSG:4326) - represent latitude and longitude on spherical Earth
  crs: "EPSG:7844"
  # The column in your data that contains SA2(!) area names
  sa2_area_column: "SA2_NAME21"
  # The column in your data that contains SA1(!) area codes
  sa1_area_code_column: "SA1_CODE21"




# Filter settings (for filtering the GNAF and census data)
filters:
  # States to filter (e.g., QLD, NSW)
  states: ["WA"]   
  # List of SA1 region codes to filter 
  region_codes: []    
  # List of SA2 region codes to filter
  sa2_codes: []    
  # List of building type codes to filter
  building_types: []     
  # List of postcodes to filter
  postcodes: []    




simulation:
  # List of census features to be used in the simulation
  census_features:
    - "Age_0_4_yr_M"
    - "Age_0_4_yr_F"
    - "Age_0_4_yr_P"
    - "Age_5_14_yr_M"
    - "Age_5_14_yr_F"
    - "Age_5_14_yr_P"
    - "Age_15_19_yr_M"
  # FALSE to skip visualization
  enable_visualization: false
